<div class="row">
  <div class="col-md-10">
    <app-shopping-edit></app-shopping-edit>
    <hr />
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingrediant of ingrediants; let i = index"
        (click)="onEditItem(i)"
      >
        {{ ingrediant.name }} ({{ ingrediant.amount }})
      </a>
    </ul>
    <p>
      The List
    </p>
  </div>
</div>
